/*****************/
/* News + Events */
/*****************/

/* News + Events Heading */
#home-nae-heading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 32px;
}

/* News + Events Container */
#home-nae-container {
    display: flex;
    justify-content: space-between;
}

/* Article Column */
/******************/

/* Atricle Column */
.home-nae-col {
    width: 50%;
    margin: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #FAF9F6;
    border-radius: 25px;
    padding: 32px;
}

/* Atricle Image */
.home-nae-col-img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Atricle Heading */
.home-nae-col-heading {
    font-weight: 900;
    margin: 0;
}

/* Atricle Read More Button */
.home-nae-col-read-more-button {
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 25px;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 900px) {

    /* Atricle Column */
    .home-nae-col {
        width: 90%;
        margin: 5%;
    }

    /* News + Events Container */
    #home-nae-container {
        display: grid;
        width: 100%;
    }

    /* Atricle Image */
    .home-nae-col-img {
        width: 100%;
    }

    /* Event Article Column */
    #home-event-container {
        margin-top: 0;
    }

}