.pool-page-heading {
    text-align: center;
}

#page-head-image {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    padding: 0;
}

.pool-page-heading h1 {
    position: absolute;
    background-color: #FAF9F6;
    padding: 16px;
    border-radius: 25px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -50px;
    margin-bottom: 66px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pool-page-content {
    margin-top: 32px;
}

.pool-page-content p {
    margin: 16px 7%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.pool-page-content h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 8px;
    margin-bottom: 24px;
    text-align: center;
}

.pool-content p {
    margin-top: 0;
}

.session-row {
    width: 100%;
    display: flex;
    margin-bottom: 48px;
}

.session-row img {
    width: 39.5%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    margin-left: 7%;
    margin-right: 3.5%;
}

.session-text {
    width: 39.5%;
    margin-right: 7%;
    margin-left: 3.5%;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.session-text h2, h6 {
    margin: 0;
    margin-top: 8px;
}

.session-text p {
    margin: 0;
    margin-top: 16px;
}

.pool-page-content a {
    margin: 16px 7%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 25px;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#middle-row {
    background-color: #FAF9F6;
    padding: 32px 0px;
}

@media screen and (max-width: 900px) {
    .pool-page-heading h1 {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 700px) {
    .pool-page-heading h1 {
        margin-top: -10%;
    }
}

@media screen and (max-width: 500px) {
    .session-row img {
        display: none;
    }
    .session-text {
        text-align: center;
        width: 84%;
        margin: 0% 7%;
    }
}