ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242424;
  border-radius: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}

body {
    background-color: #2b2b2b;
}

[class*="col-"] {
    width: 12.7%;
    float: left;
    padding: 10px;
}

.event-tiles-container {
    text-align: center;
    padding-top: 10px;
}

.event-tile {
    background-color: #242424;
    color: #ffffff;
    border-radius: 25px;
    height: 75px;
    width: 100%;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.event-tile:hover {
    transform: scale(1.2);
}