body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-bottom: solid 5px black;
}
  
.nav-left {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
}

.nav-right {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
}

.nav-right:hover {
    background-color: #f1f1f1;
}

#donate {
    background-color: red;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

.slideshow-container img {
    object-fit: cover;
    height: 92.5vh;
    width: 100%;
    border-bottom: solid 5px black;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  max-height: 92.5vh;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    bottom: 25%;
}
/* Caption text */
#we-are {
    font-size: 30px;
    padding-bottom: 215px;
}
#bournemouth-lifeguard-corps {
    font-size: 50px;
    padding-bottom: 150px;
}
#carousel-text {
    font-size: 30px;
    padding-bottom: 115px;
}
#learn-more {
    font-size: 20px;
    padding-bottom: 50px;
}
.slideshow-container button {
    background-color: red;
    padding: 15px;
    border-radius: 25px;
    
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#wwd-text {
    text-align: center;
    text-decoration: underline;
}

.what-we-do-container {
    padding: 10px
}

.what-we-do-tile {
    width: 33.3%;
    float: left;
    text-align: center;
    border: solid 5px black;
}

.what-we-do-tile img {
    object-fit: cover;
    height: 200px;
    width: 95%;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}