.our-history-page-content {
    margin-top: 32px;
}

.our-history-page-content p {
    margin: 16px 7%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#our-history-timeline-header {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}

.our-history-page-content img {
    width: 47.5%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.our-history-image-container {
    margin: 0% 7%;
    position: relative;
    display: inline-block;
    width: 86%;
}

#our-history-club-hut-new {
    float: right;
}

.our-history-collapsible {
    cursor: pointer;
    width: 86%;
    margin: 0% 7%;
    border-bottom: 1px solid black;
    padding: 8px 16px;
    border: none;
    text-align: left;
    font-size: 1.125rem;
    border-radius: 25px;
    margin-bottom: 16px;
    font-weight: 900;
}

.our-history-collapsible i{
    float: right;
}

.our-history-collapsible-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.our-history-collapsible-content p {
    margin-top: 0;
}

@media screen and (max-width: 900px) {
    .our-history-page-content img {
        width: 100%;
        position: relative;
        display: block;
    }
    #our-history-club-hut-old {
        display: none;
    }
    .our-history-page-content {
        margin-top: 16px;
    }
}