.about-us {
    width: 100%;
    margin-top: 32px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #FAF9F6;
    
}

.about-us img {
    width: 95%;
    object-fit: cover;
    border-radius: 25px;
    padding: 16px;
}

#about-us-col-1 {
    width: 50%;
    float: left;
    text-align: center;
}

#about-us-col-2 {
    width: 50%;
    float: left;
    padding: 16px;
}

#about-us-col-2 h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
#about-us-col-2 p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

