/**************/
/* CONTACT US */
/**************/

/* Contact Us Heading */
#home-contact-us-heading {
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
}

/* Contact Us Column */
.home-contact-us-col {
    width: 50%;
}

/* Column 2 */
/************/

/* Contact Us Image */
#home-contact-us-img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* Column 1 */
/************/

/* Column 1 */
#home-contact-us-col-1 {
    padding: 0px 32px;
}

/* Contact Us Form Container */
#home-contact-form-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Contact Us Form Row Elements */
.home-contact-us-row-1-element, .home-contact-us-row-2-element {
    width: 30%;
    text-align: left;
}

/* Contact Us Form Rows */
#home-contact-us-row-1, #home-contact-us-row-2, #home-contact-us-row-3, #home-contact-us-row-4, #home-contact-us-row-5, #home-contact-us-row-6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Contact Us Form Row Elements */
.home-contact-us-row-3-element, .home-contact-us-row-4-element {
    width: 47%;
    text-align: left;
}

/* Contact Us Form Row Elements */
.home-contact-us-row-5-element, .home-contact-us-row-6-element {
    width: 100%;
    text-align: left;
}

/* Contact Us Input Boxes Universal Styling */
.home-contact-us-input {
    padding: 8px;
    border-radius: 25px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Text Area Styling */
#message {
    border-bottom-right-radius: 0;
    height:75px;
    resize: vertical;
}

/* Submit Button Styling */
#submit {
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 25px;
    padding: 8px 16px;
    margin-top: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* For screens where the form appear squished */
@media screen and (max-width: 900px) {

    /* Conact form displays independent of the img */
    #home-contact-form-container {
        display: block;
    }

    /* Hides the image */
    #home-contact-us-img {
        display: none;
    }

    /* Makes the columns the width of the page */
    .home-contact-us-col {
        width: 100%;
    }

}