/**********/
/* FOOTER */
/**********/

/* Footer Container */
#general-footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #FAF9F6;
    margin-top: 16px;
    max-width: 100%;
}

/* Footer Links */
.general-footer-link {
    text-decoration: none;
    color: black;
}

/* Footer Column 1 */
/*******************/

/* Footer Column 1 Formatting */
#general-footer-col-1 {
    width: 30%;
    padding: 8px;
}

/* Footer Column 1 Charity Text + Copyright */
.general-footer-col-1-text {
    margin: 0;
    padding: 8px;
}

/* Footer Column 1 Row 1 */
#general-footer-logo-and-text-container {
    display: flex;
}

/* Footer Column 1 Logo */
#general-footer-logo {
    padding: 8px;
}

/* Footer Column 1 Bournemouth Lifegaurds Text */
#general-footer-text {
    padding: 16px 8px;
    margin: 0;
    font-weight: 900;
}

/* Footer Column 2 */
/*******************/

/* Footer Column 2 Formatting */
#general-footer-col-2 {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 16px;
}

/* Footer Column 3 */
/*******************/

/* Footer Column 3 Formatting */
#general-footer-col-3 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

/* Footer Column 3 Link Lists */
.general-footer-list {
    padding-left: 20px;
}

/* Footer Column 3 Link Lists Headings */
.general-footer-heading {
    font-weight: 900;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* For screens where the logo streches */
@media screen and (max-width: 1000px) {
    
    /* Unsquish the logo */
    #general-footer-logo {
        padding: 16px 8px;
    }

}

/* For screens where footer squishes */
@media screen and (max-width: 900px) {

    /* Unsquish the logo */
    #general-footer-logo {
        padding: 8px;
    }

    /* Remove Column */
    #general-footer-col-3 {
        display: none;
    }

    /* Adjust Column Sizes */
    #general-footer-col-1 {
        width: 80%;
    }

    /* Adjust Column Sizes */
    #general-footer-col-2 {
        width: 20%;
    }

}

/* For screens where the logo streches */
@media screen and (max-width: 375px) {

    /* Unsquish the logo */
    #general-footer-logo {
        padding: 16px 8px;
    }

}