.carousel-item {
    display: none;
}

.carousel-container img {
    object-fit: cover;
    height: 92.5vh;
    width: 100%;
}

/* Slideshow container */
.carousel-container {
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    margin: auto;
}

.carousel-text-container {
    position: absolute;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#we-are {
    font-weight: 400;
    -webkit-text-stroke: 1px black;
    font-size: 2em;
}

#bournemouth-lifeguard-corps {
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    font-size: 4em;
}

#carousel-text {
    font-weight: 400;
    -webkit-text-stroke: 1px black;
    font-size: 2em;
}

.carousel-container button {
    background-color: #EF877E;
    padding: 15px;
    border-radius: 25px;
    margin-top: 16px;
    font-weight: 900;
    border: 0px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
