
/* The list of items within the navigation-bar */

.nav-element-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    background-color: white;
}

/* Each Element on the navigation-bar */

.nav-element {
    display: block;
    color: black;
    padding: 16px 16px;
    margin-left: 8px;
    text-align: center;
    text-decoration: none;
}

/* Elements which float on the right */

.nav-float-right {
    float: right;
}

/* Elements which float on the left */

.nav-float-left {
    float: left;
    margin-left: 0;
    padding: 16px 4px;
}

#blgc-logo {
    padding: 8px 8px;
}

/* Elements which change when hovered */

.nav-hoverable:hover {
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 8px 16px;
    margin-top: 8px;
}

/* Hamburger Menu (for smaller devices) */

#hamburger-menu {
    display: none;
}

/* Donation Button */

#cta-donate {
    background-color: #EF877E;
    border-radius: 25px;
    padding: 8px 8px;
    margin-top: 8px;
}

/* For screens where the nav bar squishes onto multiple lines */

@media screen and (max-width: 1100px) {

    /* Show the burger menu icon */
    #hamburger-menu {
        display: block;
    }

    /* Hide the navigation menu */
    .nav-hidden {
        display: none;
    }
}