
#nae-text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 32px;
}

.news-events {
    display: flex;
    justify-content: space-between;
}

.news-events img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nae-col {
    width: 50%;
    margin: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #FAF9F6;
    border-radius: 25px;
    padding: 32px;
}

.nae-col h1 {
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .nae-col {
        width: 90%;
        margin: 5%;
    }
    .news-events {
        display: grid;
        width: 100%;
    }
    .news-events img {
        width: 100%;
    }
    #event {
        margin-top: 0;
    }
}