
#wwd-text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.what-we-do-container {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.what-we-do-tile {
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box; /* Ensures padding is included in the width */
    margin: 0 20px;
    width: 30%;
    text-align: center;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.what-we-do-tile-head {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
    margin: 0;
}

.what-we-do-tile-desc {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#pool-training {
    background-color: #50a3d7;
    box-shadow: rgba(80, 163, 215, 0.4) 0px 5px, rgba(80, 163, 215, 0.3) 0px 10px, rgba(80, 163, 215, 0.2) 0px 15px, rgba(80, 163, 215, 0.1) 0px 20px, rgba(80, 163, 215, 0.05) 0px 25px;
}
#beach-training {
    background-color: #ef877e;
    box-shadow: rgba(239, 135, 126, 0.4) -5px 5px, rgba(239, 135, 126, 0.3) -10px 10px, rgba(239, 135, 126, 0.2) -15px 15px, rgba(239, 135, 126, 0.1) -20px 20px, rgba(239, 135, 126, 0.05) -25px 25px;
}
#irb-training {
    background-color: #fcde5a;
    box-shadow: rgba(252, 222, 90, 0.4) 5px 5px, rgba(252, 222, 90, 0.3) 10px 10px, rgba(252, 222, 90, 0.2) 15px 15px, rgba(252, 222, 90, 0.1) 20px 20px, rgba(252, 222, 90, 0.05) 25px 25px;
}

.learn-more {
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 25px;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.what-we-do-tile img {
    object-fit: cover;
    height: 50%;
    width: 95%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Media query for medium screens */
@media screen and (max-width: 900px) {
    .what-we-do-tile {
        width: 90%;
        margin: 5%;
    }
    .what-we-do-container {
        display: block;
    }
    #pool-training {
        box-shadow: rgba(80, 163, 215, 0.4) 0px 5px, rgba(80, 163, 215, 0.3) 0px 10px, rgba(80, 163, 215, 0.2) 0px 15px, rgba(80, 163, 215, 0.1) 0px 20px, rgba(80, 163, 215, 0.05) 0px 25px;
    }
    #beach-training {
        box-shadow: rgba(239, 135, 126, 0.4) 0px 5px, rgba(239, 135, 126, 0.3) 0px 10px, rgba(239, 135, 126, 0.2) 0px 15px, rgba(239, 135, 126, 0.1) 0px 20px, rgba(239, 135, 126, 0.05) 0px 25px;
    }
    #irb-training {
        box-shadow: rgba(252, 222, 90, 0.4) 0px 5px, rgba(252, 222, 90, 0.3) 0px 10px, rgba(252, 222, 90, 0.2) 0px 15px, rgba(252, 222, 90, 0.1) 0px 20px, rgba(252, 222, 90, 0.05) 0px 25px;
    }
}